<section class="banner">
  <!-- http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/ -->
  <div class="placeholder"></div>
  <img
    class="banner-small"
    src="<%- url_for(config.banner) %>"
    alt="banner"
  />
</section>
