<footer class="app-footer">
  <p>Made with love by <a href="https://jhia.github.io">Jhia</a>.</p>

  <p>Edition of a Hexo theme written by
    <a href="https://github.com/DrakeLeung/hexo-theme-again">
      Drake Leung
    </a>. Powered by <a href="https://hexo.io"> Hexo </a></p>
</footer>
