.app-footer {
  min-height: $app-footer-height;
  margin-top: $article-gutter;
  padding: 1.5 * $gutter;
  background-color: $app-footer-bg;
  text-align: center;
  color: $app-footer-color;
  font-size: .9rem;

  p {
    margin: 0;
    padding: $gutter / 5;
    font-style: italic;
  }

  a {
    color: $anchor-color-hover;
  }

  a:hover, a:focus {
    border-bottom: 3px solid $anchor-color-hover;
  }
}
