.app-header {
  text-align: center;
  //
  // banner
  //
  .banner {
    position: relative;
    overflow: hidden;
    z-index: -1024;
    background-color: $bg-header-color;
    background-size: cover;
    background-repeat: no-repeat;
    // opacity: 0.3;
    // http://daverupert.com/2015/12/intrinsic-placeholders-with-picture
    .placeholder {
      padding-bottom: 33.3%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      mix-blend-mode: overlay;
    }
  }

  //
  // description
  //
  .description {
    background-color: $bg-header-color;
    padding: 0px .3em 5% .3em;
  }
  .description .avatar {
    width: $avatar-size;
    height: $avatar-size;
    margin-top: -$avatar-size / 2;
  }
  .description .hidden {
    opacity: 0;
    visibility: hidden;
    z-index: -2000;
  }

  .description .title {
    font-size: $app-title-font-size;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: $font-title;
    color: $app-title-color;
    margin: 0;
    padding: $gutter;
  }

  .description .subtitle {
    margin: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
    color: $app-subtitle-color;
    font-weight: $font-weight-tight;
    text-transform: uppercase;
    padding-bottom: $gutter;
  }


  //
  // social list
  //
  .social-list {
    margin: 0;
    margin-top: $gutter;
    padding: 0;
    list-style: none;
  }

    a {
      color: $anchor-color;
      padding: 8px 12px;
    }

    a:hover, a:focus {
      border-bottom: 3px solid $anchor-color-hover;
      cursor: pointer;
    }

    .icon {
      width: $icon-size;
      height: $icon-size;
      cursor: pointer;
    }
}
